streamlit==1.25.0
langchain==0.0.275
faiss-cpu==1.7.4
sentence-transformers==2.2.2
openai==0.28.0
pypdf==3.15.1
docx2txt==0.8
unstructured==0.6.6
huggingface-hub==0.17.1
tiktoken==0.4.0
loguru==0.7.1
rouge-score
langdetect
